.image-resize {
    width: 300px; /* Largeur souhaitée */
    height: 200px; /* Hauteur souhaitée */
}
body {
    background-image: url("../Image/JO.jpg");
    background-size: cover; /* Ajustement de la taille de l'image pour couvrir tout le contenu */
    background-position: center; /* Centrer l'image */
    background-repeat: no-repeat; /* Empêcher la répétition de l'image */
    font-family: Arial, sans-serif; /* Police de caractères */
}

h1 { 
	border : 3px solid black ; 
	text-align : center ;
    background-color: rgba(255, 255, 255, 0.7); /* Couleur d'arrière-plan avec transparence */
    padding: 10px; /* Ajout de marge intérieure pour les titres */
    border-radius: 5px; /* Ajout d'arrondi aux coins */ 
	}
h2 {
	border : 2px solid black ;
	}

h3{
    text-decoration-line: underline;
}


.jsp img {
    display: inline-block; /* Assurez-vous que l'image est alignée horizontalement */
    border-radius: 10px; /* Arrondir les coins de l'image */
    margin: 10px auto; /* Marge autour de l'image pour l'espacement */
}
.jsp {
	border : 2px solid black ;
    text-align: center; /* Centrer le contenu */
	}
.pp {
	background-color : #4CAF50;
	filter: grayscale(50%);
	}
.lien {
	border : 2 px solid black ;
	}
.lien a {
        display: inline-block; /* Assurez-vous que le lien est aligné horizontalement */
        padding: 10px 20px; /* Ajoutez du rembourrage pour un aspect plus convivial */
        font-size: 16px; /* Taille de police */
        background-color: #007bff; /* Couleur d'arrière-plan du lien */
        color: #fff; /* Couleur du texte */
        text-decoration: none; /* Supprimer le soulignement par défaut */
        border-radius: 5px; /* Arrondir les coins du lien */
        transition: background-color 0.3s, color 0.3s; /* Transition fluide */
    }
    
.lien a:hover {
        background-color: #0056b3; /* Changement de couleur d'arrière-plan au survol */
        color: #fff; /* Changement de couleur du texte au survol */
        transform: scale(1.1); /* Zoom de 10% au survol */
    }
	
	
.card {
    width: 100px;
    height: 100px;
    margin: 5px;
    border: 2px solid black;
    display: inline-block;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
}

.hidden {
	background : #aaa ; 

}

.matched {
    background-color: green;
}

img {
    display: block;
    width: 400px;
    height: 400px;
    border-radius: 10px;
}


p {
    background-color: rgba(255, 255, 255, 0.7); /* Couleur d'arrière-plan avec transparence */
    padding: 10px; /* Ajout de marge intérieure pour les paragraphes */
    border-radius: 5px; /* Ajout d'arrondi aux coins */
    text-align: center; /* Centrer le texte */
}

/* Styles des boutons */
.button-container {
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    margin-top: 20px; /* Espacement par rapport au contenu précédent */
}

.button-container button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgba(0, 123, 255, 0.5); /* Couleur d'arrière-plan avec transparence */
    color: #fff; /* Couleur du texte */
    border: 2px solid #007bff; /* Bordure solide */
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s, color 0.3s; /* Transition fluide */
    margin: 0 5px; /* Espacement entre les boutons */
}

.button-container button:hover {
    background-color: rgba(0, 123, 255, 0.8); /* Changement de couleur au survol */
    color: #fff; /* Changement de couleur du texte au survol */
    transform: scale(1.05); /* Agrandissement au survol */
}
/* Animation lors du clic */
.button-container button:active {
    transform: scale(0.95); /* Rétrécissement lors du clic */
}


/* Styles des boutons */
.button-container-page1{
    display: flex;
    flex-wrap: wrap; /* Permettre le retour à la ligne */
    justify-content: space-between; /* Espacement égal entre les boutons */
    margin-bottom: 20px; /* Espacement entre les lignes */
}

.button-container-page1 div{
    width: calc(25% - 10px); /* Largeur de 25% moins l'espacement entre les boutons */
    margin-bottom: 10px; /* Espacement entre les boutons */
}

.button-container-page1 button{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: rgba(0, 123, 255, 0.5); /* Couleur d'arrière-plan avec transparence */
    color: #fff; /* Couleur du texte */
    border: 2px solid #007bff; /* Bordure solide */
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s, color 0.3s; /* Transition fluide */
}

.button-container-page1 button:hover{
    background-color: rgba(0, 123, 255, 0.8); /* Changement de couleur au survol */
    color: #fff; /* Changement de couleur du texte au survol */
    transform: scale(1.05); /* Agrandissement au survol */
}

.button-container-page1 button:active{
    transform: scale(0.95); /* Rétrécissement lors du clic */
}

.equestre{
    width: 300px; /* Ajustez la taille selon vos besoins */
    height: 300px; /* Pour conserver les proportions */
    border-radius: 10px;
    display: block;
}

.cheval{
    margin: 20px; /* Ajustez la valeur selon vos besoins */
    display: inline-block;
}